<div class="mb-3">
  <label class="form-label">Content</label>
  <!-- Quill editor -->
  <div id="editor" style="height: 200px;" data-content="<%- userInput ? userInput.content : '' %>"></div>

  <!-- Hidden input that will actually be submitted -->
  <input type="hidden" name="content" id="content" required>

  <!-- NEW hidden input for Delta -->
  <input type="hidden" name="contentDelta" id="contentDelta">
</div>
